@charset "utf-8";
@font-face{font-family:'futura_bk_btbook';src:url(../fonts/futuran-webfont.eot);src:url(../fonts/futuran-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/futuran-webfont.woff2) format("woff2"),url(../fonts/futuran-webfont.woff) format("woff"),url(../fonts/futuran-webfont.ttf) format("truetype"),url(../fonts/futuran-webfont.svg#futura_bk_btbook) format("svg");font-weight:400;font-style:normal}
body{padding:0;margin:0;font:18px/25px futura_bk_btbook,Arial,Helvetica,sans-serif;color:#747474}
*{padding:0;margin:0;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
ul{list-style-type:none}
.container{padding:10px;text-align:justify}
.wrapper section{margin:0 0 20px}
.wrapper section h1{font-size:122%;font-weight:400}
.wrapper section header{padding:15px 10px;margin-bottom:10px;background:url(../images/header-bg.jpg) no-repeat 50% 0;background-size:cover;color:#fff}
.wrapper section li{padding:12px 0;font-size:100%;border-top:1px solid #eee; text-align:justify;}
.wrapper section li h2{cursor:pointer}
.wrapper section p{font-size:100%;text-align: justify;}
.wrapper section p span{font-weight:700;margin-bottom:15px;display:inline-block}
.wrapper section li:first-child{border:none;padding-top:0}
.wrapper section li h2{margin-bottom:10px;font-size:100%;color:#c81b5d}
.wrapper section li li,.wrapper section li li:first-child{background:url(../images/blt.gif) no-repeat 0 .65em;border:none;padding:5px 0 5px 15px}
.container .content{padding:0;display:none}
.accordion{list-style:none;padding:0}
.accordion li{display:block;margin:1px;cursor:pointer;padding:5px 5px 5px 7px;list-style:circle;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}
.accordion div{list-style:none;padding:0;display:none}
.accordion a{text-decoration:none}
.accordion a:hover{text-decoration:underline}
.logo{text-align:center;}
.terms{padding:20px;}
.terms_content{padding:20px; color:#333;}
.terms_content h4{padding:10px 0; font-size:15px;}
.main_list{padding-left:20px;}
.main_list li{list-style:upper-roman; font-weight:bold;border:none !important;}
.main_list p{font-weight: 400;padding: 17px 0 17px 50px;}
.sublist {padding: 0 0 0 50px;}
.sublist li{border:none; list-style:lower-roman; font-weight:400;background-image: none !important;}
.signature {padding: 80px 20px 30px;}
.signature span:first-child{float:left;width:60%}
.signature span:last-child{float:left;width:40%}
.clear{clear:both;}
.top_line{margin-left: -17px; padding-left:0 !important;}
.over_line{padding-bottom:10px;}
@media all and (max-width : 1023px) {
body{font-size:18px;line-height:22px}
}
@media all and (max-width : 767px) {
body{font-size:12px;line-height:15px}
.sublist {padding: 0;}
.terms_content{padding:0;}
.terms_content h4 {font-size: 12px;line-height: 16px;}
.wrapper section li li, .wrapper section li li:first-child{padding:5px 0 5px 5px;}
.wrapper section li{padding:3px 0;}
.main_list p {padding: 7px 0 7px 5px;}
.main_list {padding-left: 20px;}
.signature {padding: 40px 20px 30px;}
.signature span {float: none !important; padding: 15px 0; display:block; width:100% !important;}
.ex_padding li{padding-left:10px !important;}
}