@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/futuran-webfont.eot');
    src: url('../fonts/futuran-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuran-webfont.woff2') format('woff2'),
         url('../fonts/futuran-webfont.woff') format('woff'),
         url('../fonts/futuran-webfont.ttf') format('truetype'),
         url('../fonts/futuran-webfont.svg#futura_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	padding:0;
	margin:0;
	font:18px/25px "futura_bk_btbook", Arial, Helvetica, sans-serif;
	color:#747474
}
*{
	padding:0;
	margin:0;
	
	-webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul{
	list-style-type:none
}

.container{
	padding:10px
}
.wrapper section{
	margin:0 0 20px
}
.wrapper section h1{
	font-size:122%;
	font-weight:normal
}
.wrapper section header{
	padding:15px 10px;
	margin-bottom:10px;
	background:url(../images/header-bg.jpg) no-repeat 50% 0;
	background-size:cover;
	color:#fff
}
.wrapper section li{
	padding:12px 0;
	font-size:100%;
	border-top:1px solid #eee;
}
.wrapper section li h2{
	cursor:pointer
}
.wrapper section p{
	font-size:100%
}
.wrapper section p span{
	font-weight:bold;
	margin-bottom:15px;
	display:inline-block
}
.wrapper section li:first-child{
	border:none;
	padding-top:0
}
.wrapper section li h2{
	margin-bottom:10px;
	font-size:100%;
	color:#c81b5d
}
.wrapper section li li,
.wrapper section li li:first-child{
	background:url(../images/blt.gif) no-repeat 0 0.65em;
	border:none;
	padding:5px 0 5px 15px
}
.container .content {
	padding:0;
	display: none;
}


.accordion {
	list-style: none;
	padding: 0 0 0 0;
}
.accordion li{
	display: block;
	margin: 1px;
	cursor: pointer;
	padding: 5 5 5 7px;
	list-style: circle;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.accordion div {
	list-style: none;
	padding: 0 0 0 0;
	display: none;
}
/*.accordion ul li{
	font-weight: normal;
	cursor: auto;
	background-color: #fff;
	padding: 0 0 0 7px;
}*/
.accordion a {
	text-decoration: none;
}
.accordion a:hover {
	text-decoration: underline;
}

@media all and (max-width : 1023px) {
	body{
		font-size:18px;
		line-height:22px
	}
}

@media all and (max-width : 767px) {
	body{
		font-size:12px;
		line-height:15px
	}
}